<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen intermédiaire - Hangman Web</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div id="todo-container">
      <div id="todo-header">
        <h2>To-Do List</h2>
      </div>
      <div id="todo-list">
        {{range . }}
        <div class="task">
          <div class="task-name">Name: {{.Name}}</div>
          <div class="task-date">Date: {{.Deadline}}</div>
          <div class="task-description">
            Description: {{.Description}}<br />
          </div>
          {{if eq .State "Done"}}
          <div class="task-status">
            Status : <span class="done">{{.State}}</span>
          </div>
          {{end}} {{if eq .State "In Progress"}}
          <div class="task-status">
            Status : <span class="in-progress">{{.State}}</span>
          </div>
          {{end}} {{if eq .State "To Do"}}
          <div class="task-status">
            Status : <span class="to-do">{{.State}}</span>
          </div>
          {{end}}
          <form id="delete-task" action="/delete-task?id={{.Id}}" method="post">
            <button class="delete-btn">Delete</button>
          </form>
        </div>
        {{end}}
      </div>
      <form id="add-task" action="/add-task" method="post">
        <input
          class="add-task-name"
          type="text"
          name="name"
          placeholder="Name"
        />
        <input class="add-task-date" type="date" name="date" />
        <input
          class="add-task-description"
          type="text"
          name="description"
          placeholder="Description"
        />
        <input
          class="add-task-state"
          type="text"
          name="state"
          placeholder="State"
        />
        <button id="add-btn">Add Task</button>
      </form>
    </div>
  </body>
</html>
